* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 {
  text-align: center;
}

main #puzzle,
main aside {
  margin: 10px;
}

main #puzzle {
  display: -ms-grid;
  display: grid;
  border: 1px solid black;
  border-radius: 5px;
}

main #puzzle .cell {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
}

main #puzzle .cell .clueNumber {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 1.3rem;
}

main #puzzle .disabled {
  border: 1px solid black;
  background-color: black;
}

#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

#modal #winnerMessage {
  background-color: white;
  width: 50%;
  height: auto;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

#modal #winnerMessage p {
  font-size: 36px;
  font-weight: bold;
}

button {
  margin-top: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
