td {
  background-color: gray;
  width: 50px;
  height: 50px;
}

td.disabled {
  background-color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 {
  text-align: center;
}

main table,
main aside {
  margin: 10px;
}

main aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
