* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h2 {
  text-align: center;
}

main #puzzle,
main aside {
  margin: 10px;
}

main #puzzle {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (74px)[5];
  -ms-grid-columns: (74px)[5];
      grid-template: repeat(5, 74px)/repeat(5, 74px);
}

main #puzzle .cell {
  background-color: white;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

main #puzzle .disabled {
  border: 1px solid black;
  background-color: black;
}

main aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
