body {
  font-family: sans-serif;
}

#puzzleGrid {
  display: grid;
  grid-template: repeat(5, 100px) / repeat(5, 100px);
}

.cell {
  height: 100px;
  width: 100px;

  outline: none;

  text-align: center;
  text-transform: uppercase;

  font-size: 25px;
}
